html{
	background: whitesmoke;
}

h1{
	font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
}

p{
	font-family: sans-serif;
}

.voice{
padding: 5px 10px;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding-left: 50px;
    font-family: sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}


.flag{
    background-size: 40px 100%;
    background-repeat: no-repeat;
    border: 1px solid #e6e2e2;
}

header{
	color: white;
	background: #3f51b5;
	    padding-top: 60px;
}

header h1{
	font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}

#developer{
	font-size: 15px;
	text-align: center;
	padding: 20px;
}
