html{
    background: whitesmoke;
}
h1{
    font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
}

h2 {
    font-size:30;
}
p{
    font-family: sans-serif;
}
header{
    color: white;
    background: #3f51b5;
    padding-top: 60px;
    padding-bottom: 15px;
}
header h1{
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}

header ul{
        min-width: 696px;
    list-style: none;
    padding-top: 20px;
        padding: 0;
}

header li{
    list-style: none;
    display: inline;
    padding: 0 10px;
}

textarea{
    margin: 10px;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    background: #ececec;
    max-width: 460px;
    width: 100%;
    min-height: 60px;
    outline: none;
}

#bot_logo{
    width: 90px;
}
.checkmark{
    width: 24px;
    padding-right: 10px;
    margin-bottom: -7px;
}
.voice{
padding: 5px 10px;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding-left: 50px;
    font-family: sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.voice.selected{
    background-color: #2ccd71;
    color: white;
    border: 1px solid #4CAF50;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: green 1px 1px;
}
.flag{
    background-size: 40px 100%;
    background-repeat: no-repeat;
    border: 1px solid #e6e2e2;
}
#developer{
	font-size: 15px;
	text-align: center;
	padding: 20px;
}
.btn{
    display: inline-block;
    margin: auto;
    font-size: 15px;
    padding: 5px 10px;
    background: #ea1d1d;
    color: white;
    min-width: 100px;
    outline: none;
    cursor: pointer;
}
.btn_play{
    background: #ea1d1d;
}
.btn_loading{
    background: #c32222;
}
.btn_stop{
    background: #d44b4b;
}
.btn_download{
    background: purple;
}
.features{
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}
footer{
    text-align: center;
    background: #eaeaea;
    color: #616161;
    padding: 20px;
        margin-top: 40px;
}

footer ul{
    list-style: none;
    padding: 0;
}
footer li{
        padding: 5px;
}