<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header>
    <img id="bot_logo" src="/assets/bot_logo2.svg">
  <h1>
   {{title}}
  </h1>
  <!--
<p>
  Best Speech Bot is a revolutionary free service that can:
</p>-->
  <div class="features">
    <ul>
    <li><img src="/assets/checkmark.svg" class="checkmark">No Limits</li>
    <li><img src="/assets/checkmark.svg" class="checkmark">Listen & Download Instantly</li>
    <li><img src="/assets/checkmark.svg" class="checkmark">Free and Fast!</li>
    </ul>
  </div>
  </header>
<div>
  <textarea placeholder="Type/Paste Here" [(ngModel)]='job.text'>  </textarea>
  <div>
        <button *ngIf="job?.url && !playing && !loading" class="btn btn_play" (click)="play()">Play</button>
        <button *ngIf="loading" class="btn btn_loading">Loading...</button>
        <button *ngIf="job?.url && playing && !loading" class="btn btn_stop" (click)="stopPlay()">Stop</button>
        <a href="{{job?.url}}">
        <button *ngIf="downloadable && !loading" class="btn btn_download" (click)="download()">Download</button></a>
  </div>
</div>
<ul class="voices">
    <li *ngFor="let voice of voices" class="voice flag" 
    [ngStyle]=" {'background-image': voice.code }" 
    [class.selected]="job?.voice === voice.id"
    >

      <span class="" id="{{voice.id}}">{{voice?.id}}</span> 
  </li>
</ul>
  
</div>

<footer>
<h2>How it's being used:</h2>
<ul>
  <li>Study boring texts by listening</li>
  <li>Make sounds for videos or music</li>
  <li>Turn eBooks into Audio Books</li>
  <li>Have fun with friends</li>
</ul>

<div id="developer">
<p>Made with Angular 4 and Amazon AWS Cloud in Toronto Canada. <a href="mailto:mail@webcore1.com">Contact Developer</a> </p></div>

</footer>



